<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tech Aware</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="start/img/TA.png" rel="icon">
  <link href="start/img/TA.png" rel="TA">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="end/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="end/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="end/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="end/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="end/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="end/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/dashboard"><span>Tech-Aware</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#posters">Posters</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a class="btn btn-primary" href="/logout" role="button" style="color: white">Logout</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="/page404" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="/page404" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="/page404" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="/page404" class="linkedin"><i class="icofont-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <p class="lead mb-3">Welcome 🙏 <%= user.name %> </p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <h1>We spreads Technology Awareness that help to learn New Technology</h1>
            <h2>We are team of people spreading Technology Awareness digital</h2>
            <a class="btn btn-primary btn-lg" href="/blog" role="button" style="color: white"><i class="far fa-clipboard"> Blog</i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="end/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="zoom-in">
            <img src="end/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0">
              <h3>Learn more about us</h3>
              <p class="font-italic">
                We are a brand new NGO aimed at increasing awareness around issues of technology addiction and promoting the responsible use of technology. And we want to do something about it. Some of the issues we're working on include:
              </p>
              <ul>
                <li><i class="icofont-check-circled"></i> Creating a network of support for those with gaming addictions.</li>
                <li><i class="icofont-check-circled"></i> Building awareness around our every day use of technology, how it affects us and our relationships, and how we can make it healthier .</li>
                <li><i class="icofont-check-circled"></i> Developing school programmes to teach kids and teens about how to use technology in a healthy way.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item" data-aos="fade-up">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>What we will do ?</h4>
                  <p>We love technology and appreciate all the amazing advantages that it brings us, but we also recognise some of the ways it can be harmful. So many of us are addicted to our phones, tablets, computers and gaming consoles that we
                    believe, as a society, our relationship to technology has become unhealthy.</p>
                </a>
              </li>
              <br><br><br>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">

                <p>We will create poster on Technology Awareness, So that every user's can download it and as well as directly share it.</p>

              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">

                <p>We have Student Ambassador Program(SAP), so student can promot Tech-Aware and spread Technology Awareness.</p>

              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">

                <p>We will upload posters everyday.</p>

              </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="end/img/features-1.png" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>We spend our lives surrounded by technology, and while it certainly makes things easier, we rarely pause to think about the drawbacks and the long-term effects of our consumption, which we don't yet fully understand. Until we understand
            the full implications of our technology use, we believe it is extra important to be aware of how much we use our devices and in what ways, so we can enjoy a healthy and moderated relationship to technology.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="icofont-cheer-leader"></i></div>
              <h4 class="title"><a href="">Leadership</a></h4>
              <ul>

                <li>Goals and incentives aligned</li>
                <li>Executive sponsor assigned</li>
                <li>Day-to-day managers idetified</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="icofont-unique-idea"></i></div>
              <h4 class="title"><a href="">Better Ideas</a></h4>
              <ul>
                <li>Topic is a key strategic initiative</li>
                <li>Develop the case</li>
                <li>Describe the Ideas</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="icofont-ui-settings"></i></div>
              <h4 class="title"><a href="">Setup</a></h4>
              <ul>
                <li>Target Population</li>
                <li>Adopter Audiences</li>
                <li>Successful Sites</li>
                <li>Key Partners</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="icofont-users-social"></i></div>
              <h4 class="title"><a href="">Socialv System</a></h4>
              <ul>
                <li>Key Messengers</li>
                <li>Communities</li>
                <li>Technical Support</li>
                <li>Transition Issues</li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- posters -->

    <section id="posters">
      <div class="section-title" data-aos="fade-up">
        <h2>Posters</h2>
      </div>

      <div class="container">
        <div class="card-deck poscard">
          <div class="card">
            <img src="end/img/posters/img1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="end/img/posters/img1.jpg" class="btn btn-primary" download><i class="fas fa-download"> Download</i></a>
            </div>
          </div>
          <div class="card">
            <img src="end/img/posters/img2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="end/img/posters/img2.jpg" class="btn btn-primary" download><i class="fas fa-download"> Download</i></a>
            </div>
          </div>
          <div class="card">
            <img src="end/img/posters/img3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="end/img/posters/img3.jpg" class="btn btn-primary" download><i class="fas fa-download"> Download</i></a>
            </div>
          </div>
        </div>


        <div class="card-deck poscard">
          <div class="card">
            <img src="end/img/posters/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="end/img/posters/img4.jpg" class="btn btn-primary" download><i class="fas fa-download"> Download</i></a>
            </div>
          </div>
          <div class="card">
            <img src="end/img/posters/img5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="end/img/posters/img5.jpg" class="btn btn-primary" download><i class="fas fa-download"> Download</i></a>
            </div>
          </div>
          <div class="card">
            <img src="end/img/posters/img6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="end/img/posters/img6.jpg" class="btn btn-primary" download><i class="fas fa-download"> Download</i></a>
            </div>
          </div>
        </div>
      </div>




    </section>

    <!-- end posters -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="middle">

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
            <div class="php-email-form">
              <form action="https://formspree.io/meqlbyeo" method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input type="email" class="form-control" name="_replyto" id="email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="text-center"><button type="submit" value="send">Send Message</button></div>
              </form>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Tech-Aware</h3>
              <p>
                India
                <br><br>
                <strong>Phone:</strong>+91 1234567890<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Leadership</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Better Ideas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Setup</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Social System</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to get Update</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Tech-Aware</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Ankit Jangir</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="end/vendor/aos/aos.js"></script>
  <script src="https://kit.fontawesome.com/d61d03c88e.js" crossorigin="anonymous"></script>
  <script src="end/vendor/jquery/jquery.min.js"></script>
  <script src="end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="end/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="end/vendor/php-email-form/validate.js"></script>
  <script src="end/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="end/vendor/venobox/venobox.min.js"></script>
  <script src="end/vendor/owl.carousel/owl.carousel.min.js"></script>


  <!-- Template Main JS File -->
  <script src="end/js/main.js"></script>

</body>

</html>
