<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tech-Aware</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="start/img/TA.png" rel="icon">
  <link href="start/img/TA.png" rel="TA">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="start/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="start/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="start/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="start/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="start/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="start/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="start/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/welcome"><span>Tech-Aware</span></a></h1>

      </div>


        <!-- <a href="/welcomeBlog" class="btn btn-primary btn-lg"><i class="far fa-clipboard"> Blog</i></a> -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>Spread Technology Awareness</h1>
            <a href="/register" class="btn btn-primary btn-lg">Sign Up</a>&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="/login" class="btn btn-light btn-lg">Sign In</a>
          </div>


        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="start/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


  <!-- Vendor JS Files -->
  <script src="https://kit.fontawesome.com/d61d03c88e.js" crossorigin="anonymous"></script>
  <script src="start/vendor/jquery/jquery.min.js"></script>
  <script src="start/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="start/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="start/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="start/js/main.js"></script>

</body>

</html>
